# hidden variables for security and privacy
# base settings
SECRET_KEY=
DEBUG='True'

# database settings
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PORT=

# cache settings
CACHE_ENABLED=
CACHE_LOCATION=

# celery settings
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

# email settings
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# stripe
STRIPE_API_KEY=
